*{
    font-family: 'Raleway', sans-serif;
    color: black;
  }

html{
  max-width: 1400px;
  margin: auto;
  /* background-color: gray; */
}

body{
  margin: 0;
  max-width: 1400px;
}

header{
  display: flex;
  justify-content: space-between;
  margin: 0 40px 65px 55px;
  align-items: center;
}

header img{
  width: 61.09px;
  height: 19px;
}

header a{
  width: 100%;
}
nav{
  display: flex;
  justify-content: space-around;
}

nav a {
  padding: 30px;
}

nav #Hebergement{
  color: #0065FC;
  border-top: solid 2px #0065FC;
}

main{
margin: 0 auto;
}
a{
  text-decoration: none;
}

h1{
  font-size: 22px;
  font-weight: bolder;
}
p{
  font-weight: lighter;
}

.recherches-filtres{
  margin-left: 4%;
}
input{
  width: 332px;
  height: 49px;
}

form i{
  position: relative;
  left: 3px;
  border-radius: 15px 0px 0px 15px;  
  background: #F2F2F2;
  padding: 17px;
  margin-right: 0;
}

form{
  display:flex;
  height: 49px;
  align-content: center;
  margin-bottom: 32px;
  margin-left: 0;
}

form input{
  border: hidden;
  outline: none;
}

form input::placeholder{
  color: black;
  font-weight: bold;
  opacity: 1;
}

button{
  text-decoration: none;
  border: none;
  background-color: #FFFFFF;
  font-weight: bold;
  border-radius:100px/160px  ;
  border: 1px solid #d9d9d9; 
  padding: 10px;
  font-size: 10px;
}


form button{
font-weight: bold;
position: relative;
right: 4.5em;
background: #0065FC;
border: 1px solid #0065FC;
border-radius: 0px 15px 15px 0px;
color: white;
width: 132px;
height: 49px
}

.Filtres{
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: 80%;
  align-items: center;
  font-weight: bold;
  font-size: 17px;
}

.filtres-phone{
  width: 100%;
  display: flex;
  align-content: center;
}

.blue{
  color:#0065FC;
}
.Filtres i{
  color: #0065FC
}

.white{
  color: #F2F2F2;
}

.Filtres button:hover{
  background-color: #deebff;
}

.Filtres button i{
  margin-right: 10px;
}

.Filtres p{
  font-weight: 900;
}

.Filtres .bordure{
  padding-left: 10px;
  margin-left: 50px;
}

.info{
  color: #0065FC;
  border: 1px solid #d9d9d9;
  border-radius: 50% 50% 50% 50% ;
  padding-left: 6px;
  padding-right: 6px;
  margin: 40px 11px 40px 0;
  font-weight: normal;
  position:relative;
  top: 34px;
}

#info-tablette{
  position: relative;
  left: 27px;
  margin-bottom: 30px;
}


.offres-logement{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width: 100%;
  height: 700px;
}
.offres-logement h2{
  margin-top: 40px;
  margin-bottom: 25px;
  margin-left: 40px;
  font-size: 100%;
  width: 100%;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  height: 80%;
}

 .hebergement-card{
  display: flex;
  flex-direction: column;
  width: 60%;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  border-radius: 20px;
  height: 626px;
 }
 
.populaire-card{
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;  
  width: 30%;
}

.pop{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card, .images-activites a {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    border-radius: 20px; 
    width: 26%;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
    background-color: #ffffff;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .populaire-txt{
    padding-top: 15px;
  }

  .card p{
    padding-top: 10px;
  }

  .container div {
    padding: 2px 16px 5px;
    font-size: 12px;
  }

  .card img{
    object-fit: cover;
    min-width: 137px ;
  }

  .hebergement-card .card{
    max-height: 199px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .hebergement-card .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80px;
}

.star{
  display: flex;
}
  
.hebergement-card img{
  height: 124px;
  border-radius: 20px 20px 0px 0px; 
}

.card h4, .card p, .card i{
  margin: 0;
}

.afficher-plus{
  padding-left: 40px;
  font-weight: bold;
  vertical-align: middle;
}

.populaire-card .card{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  height: 144px;
  width: 80%;
}
.populaire-card .container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.populaire-card .card img{
  display: inline-block;
  max-height: 150px;
  max-width: 144px;
  border-radius: 20px 0 0 20px; 
}

.populaire-card h2 i{
margin-left: 6vw;
color: #0065FC;
}

#titre-activites{
  margin-top: 120px;
  margin-left: 45px;
}

.images-activites{
  align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 97%;
    height: 100%;
    flex-wrap: wrap;
}
.activites{
  display: flex;
  flex-direction: column;
}

.images-activites .card, .images-activites a{
  display: flex;
  flex-direction: column;
  width: 21%;
  height: 445px;
}
.images-activites a{
  padding: 0;
  box-shadow: none;
  transition: none;
  border:0;

}

.images-activites .card{
  width: 100%;
}

.images-activites .container{
display:flex;
align-items: center;
padding-left: 10px;
}

.images-activites .card img{
  height: 389px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.images-activites .card h5{
width:100%;
margin: auto;
margin-top: 0;
margin-bottom: 0;
font-size: 10px;
background-color: #FFFFFF;
padding-top: 15px;
padding-bottom: 10px;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #F2F2F2;
  margin: auto;
  width: 94%;
}

footer h4{
  margin-right: 170px;
  margin-top: 45px;
}
footer ul{
  list-style: none;
  padding-left: 0;
  line-height: 30px;
}

.fa-magnifying-glass, .blue-line, .grey-line{
  display: none;
}


/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 768px et 992px */
@media all and (min-width: 768px) and (max-width: 992px){
  
  main{
    margin-left: 45px;
    margin-right: 45px;
  }
  nav a:hover{
    text-decoration: none;
  }

  nav #Hebergement{
    color: black;
  }
  
  .Filtres{
    width: 95%;
    margin-top: 45px;
  }

  .Filtres .bordure{
    margin-left: 30px;
  }

  #info-tablette{
    margin-bottom: 35px;
  }
  .cards{
    margin-top: 60px;
  }

  .cards-pop{
    flex-direction: row;
  }
  .hebergement-card{
    width: 100%;
    height: auto;
    padding-bottom: 45px;
   }

   .hebergement-card .card{
    width: 28%;
   }
   .container div{
    font-size: 15px;
   }

   .hebergement-card .container{
    height: 30%;
   }
   .hebergement-card h2{
    margin-bottom: -5%;
   }

   .hebergement-card .card h4, .hebergement-card .card p, .populaire-card .card h4, .populaire-card .card p{
    font-size: 80%;
    padding: 3px;
   }
   
   .populaire-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 35%;
    margin-top: 50px;
   }

  .populaire-card a{
    display: flex;
    flex-direction: column; 
    width: 27%;
    margin-right: 5%;
  }

  .populaire-card h2{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    width: 100%;
    margin-bottom: -5%;
    margin-top: 3%;
  }

  .populaire-card .card{
    width: 100%;
    height: 144px;
  }

  .populaire-card .card img{
    min-width: 0;
    max-height: 144px;
    max-width: 106px;
  }

  .pop{
    flex-direction: row;
  }
  .populaire-card .container{
    padding: 2px 8px;
  }

  .populaire-card .container div{
    padding: 0;
  }

  .populaire-card h2 i{
    margin-left: 70%;
    }

   .activites{
    margin-top: 375px;
   }

   .images-activites .card img{
    height: 267px;
    width: 33%;
   }

   .images-activites .card{
    height: 267px;
   }


  .images-activites .card h5{
    padding-top:2px;
    font-size: 80%;
    padding-left: 0px;
  }
  
  footer{
   width: 90%;
   margin-left: 0;
   margin-right: 0;
  }
  .info-footer h4{
    margin: auto;
    margin-top: 45px;
  }

  .fa-magnifying-glass, .blue-line, .grey-line{
    display: none;
  }

  #info-tablette{
    position: relative;
    left: 27px;
   }

   .info{
    position:relative;
    top: 34px;
    margin-top: 0;
   }

}

@media all and (max-width: 767px){
  html, body{
    margin: 0 0 0 0;
  }

  header{
    display:block
  }

  header img{
    display: block;
    margin: auto;
    margin-top: 21px;
    margin-bottom: 50px;
  }

  nav{
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    display: block;
    padding: 0;
    margin: auto;
  }

  nav a:hover{
    text-decoration: none;
  }
  nav #Hebergement  {
    color: #0065FC;
  }

  .blue-line, .grey-line{
    display: inline-block;
    height: 3px;
    width: 50%;
  }
  .line{
    display: flex;
    flex-direction: row;
  }
  .blue-line{
    background-color: #0065FC;
  }

  .grey-line{
    background-color: #F2F2F2;
  }

  .recherches-filtres{
    margin: 2%;
  }
  #rechercher{
    display: none;
  }
  form{
    width: 100%;
    margin-bottom: 45px;
  }

  form p{
    width: 100%;
  }

 .fa-magnifying-glass{
  display: inline-block;
  font-weight: bold;
  background: #0065FC;
  border: 1px solid #0065FC;
  border-radius: 0px 15px 15px 0px;
  color: white;
  width: 5%;
 }

 .Filtres{
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
 }
 
 .filtres-phone{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
 }

 .filtres-phone button{
  display:flex ;
  width: 45%;
  margin: 2%;
 }
 .filtres-phone button span{
  font-size: 10px;
 }

 input{
  width:65%;
 }

 .Filtres .bordure{
  padding-left: 2%;
  margin-left: 0;
 }
 
 .info{
  position:relative;
  top: 34px;
 }

#info-tablette{
  position: relative;
  left: 27px;
 }

.offres-logement{
  display: flex;
  flex-direction: column;
  height: auto;
 }

.hebergement-card{
  order: 2;
  width: 100%;
  justify-content: center;
  background-color: #FFFFFF;
  margin-bottom: 40px;
 }

 .hebergement-card h2{
  margin-left: 15px;
 }

.hebergement-card .card, .populaire-card .card, .images-activites .card{
  width: 90%;
  /* max-width: 450px; */
  margin-left: 0;
  margin-right: 0;
 }
.hebergement-card .card .container, .populaire-card .card .container{
line-height: 150%;
}
.afficher-plus{
  display: none;
}

.populaire-card a{
  width: 100%;
  display: flex;
  justify-content: center;
}
.populaire-card{
  order: 1;
  width: 100%;
  border-radius: 0%;
}


.populaire-card img{
  height: 100%;
}

#titre-activites{
margin-left: 5%;
width: 127px;
margin-top: 60px;
}
.images-activites{
  flex-direction: column;
  align-items: center;
}

.images-activites .card{
  height: 334px;
  margin-bottom: 40px;
}

.images-activites .card img{
  height: 334px;
}
.images-activites .card a{
  width: 100%;
}

.images-activites .card h5{
  padding-left: 0;
  font-size: 120%;
}

footer{
  display: flex;
  flex-direction: column;
  width:100%;
  margin-left: 0;
}

.info-footer{
  width: 100%;
  margin-left: 30px;
}
}