*{
    font-family: 'Raleway', sans-serif;
    color: black;
  }

html{
  max-width: 1400px;
  margin: auto;
  padding: 0 40px 0 40px;
  /* background-color: gray; */
}

body{
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 0;
  max-width: 1400px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img{
  width: 61.09px;
}

header a{
  width: 75%;
  padding-top: 30px;
}
.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:60px;
}

nav a {
  padding-top: 30px;
}

nav #Hebergement{
  color: #0065FC;
  border-top: solid 2px #0065FC;
}

main{
display: flex;
flex-direction: column;
gap: 60px;
}
a{
  text-decoration: none;
}

h1{
  font-size: 22px;
}
p{
  font-weight: lighter;
}

input{
  width: 332px;
  height: 49px;
}

form i{
  position: relative;
  left: 3px;
  border-radius: 15px 0px 0px 15px;  
  background: #F2F2F2;
  padding: 17px;
  margin-right: 0;
}

form{
  display:flex;
}

form input{
  border: hidden;
  outline: none;
}

form input::placeholder{
  color: black;
  font-weight: bold;
  opacity: 1;
}

button{
  text-decoration: none;
  border: none;
  background-color: #FFFFFF;
  font-weight: bold;
  border-radius:100px/160px  ;
  border: 1px solid #d9d9d9; 
  padding: 10px;
  font-size: 10px;
}


form button{
font-weight: bold;
position: relative;
right: 4.5em;
background: #0065FC;
border: 1px solid #0065FC;
border-radius: 0px 15px 15px 0px;
color: white;
width: 132px;
height: 49px
}

.Filtres{
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  gap:40px;
}

.filtres-phone{
  width: 100%;
  display: flex;
  align-content: center;
  gap:40px;
}

.blue{
  color:#0065FC;
}
.Filtres i{
  color: #0065FC
}

.white{
  color: #F2F2F2;
}

.Filtres button:hover{
  background-color: #deebff;
}

.Filtres button i{
  margin-right: 10px;
}

.Filtres p{
  font-weight: 900;
}

.Filtres .bordure{
  padding-left: 10px;
}

.fa-info{
  color: #0065FC;
  padding-left: 8px ;
  font-size: 15px;
}

.border-info{
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  width: 20px;
}

.info-nombre-logement{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.offres-logement{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  width: 100%;
}
.offres-logement h2{
  font-size: 100%;
  margin: 0;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap:10px;
}

 .hebergement-card{
  display: flex;
  flex-direction: column;
  width: 60%;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  border-radius: 20px;
  padding: 30px;
  justify-content: space-around;
 }
 
.populaire-card{
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;  
  width: 25%;
  gap:30px;
  padding: 30px;
}

.pop{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    border-radius: 20px; 
    width: 30%;
    background-color: #ffffff;
    padding: 5px;
    margin: 0;
  }

.populaire-txt{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }


.card img{
    object-fit: cover;
    width: 100%;
  }

.hebergement-card .card{
    max-height: 199px;
  }
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.hebergement-card .container {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 5px;
    padding: 5px;
  }

.star{
  display: flex;
}
  
.hebergement-card img{
  height: 124px;
  border-radius: 20px 20px 0px 0px; 
}

.card h4, .card p, .card i{
  margin: 0;
}

.afficher-plus{
  font-weight: bold;
  vertical-align: middle;
}

.populaire-card h2{
  display: flex;
  justify-content: space-between;
}

.populaire-card .card{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  height: 144px;
  width: 100%;
}
.populaire-card .container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;
}

.populaire-card .card img{
  display: inline-block;
  max-height: 150px;
  max-width: 144px;
  border-radius: 20px 0 0 20px; 
}

.populaire-card h2 i{
color: #0065FC;
}

#titre-activites{
  font-size: inherit;
}

.images-activites{
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 97%;
  flex-wrap: wrap;
}
.activites{
  display: flex;
  flex-direction: column;
}

.images-activites .card, .images-activites a{
  display: flex;
  flex-direction: column;
  width: 21%;
}
.images-activites a{
  padding: 0;
  box-shadow: none;
  transition: none;
  border:0;
}

.images-activites .card{
  width: 100%;
}

.images-activites .container{
display:flex;
align-items: center;
padding: 15px;
}

.images-activites .card img{
  height: 389px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.images-activites .card h5{
width:100%;
margin: auto;
font-size: 10px;
background-color: #FFFFFF;

}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #F2F2F2;
  width: 100%;
}

footer h4{
  margin-right: 170px;
  margin-top: 45px;
}
footer ul{
  list-style: none;
  padding-left: 0;
  line-height: 30px;
}

.fa-magnifying-glass, .blue-line, .grey-line{
  display: none;
}


/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 768px et 992px */
@media all and (min-width: 768px) and (max-width: 992px){
  
  nav a:hover{
    text-decoration: none;
  }

  nav #Hebergement{
    color: black;
    border-top: none;
  }
  
  .Filtres{
    width: 100%;
    margin-top: 45px;
    gap: 0px;
  }

  .filtres-phone{
    gap:0px;
  }

  #rechercher {
    font-size: 15px;
  }
  .Filtres .bordure{
    margin-left: 60px;
  }

  .offres-logement{
    gap:60px;
  }
  
  .cards-pop{
    flex-direction: row;
  }
  .hebergement-card{
    width: 100%;
    gap: 20px;
   }

   .hebergement-card .card{
    width: 28%;
   }
   
   .populaire-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap:20px;
   }

  .populaire-card a{
    display: flex;
    flex-direction: column; 
    width: 30%;
  }

  .populaire-card h2{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .populaire-card .card img{
    max-width: 106px;
  }

  .pop{
    flex-direction: row;
    justify-content: space-between;
  }
 

  .populaire-card .container div{
    padding: 0;
  }

   .images-activites .card img{
    height: 267px;
    width: 100%;
   }

   .images-activites .container{
    height: 45px;
   }

  .images-activites .card h5{
    padding-top:2px;
    font-size: 80%;
    padding-left: 0px;
    padding-bottom: 0;
  }
  
  .info-footer h4{
    margin: auto;
    margin-top: 45px;
  }

  .fa-magnifying-glass, .blue-line, .grey-line{
    display: none;
  }

}

@media all and (max-width: 767px){
  html{
    padding: 40px 0 0 0;
  }

  header{
  flex-direction: column;
  gap:40px;
  }

  header a{
    width: auto;
    padding-top: 0;
  }

  .menu, .underline{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  nav{
    width: 100%;
  }
  
  nav a {
  margin: auto;
  padding-bottom: 30px;
  }

  nav a:hover{
    text-decoration: none;
  }

  nav #Hebergement  {
    color: #0065FC;
    border-top: none;
  }

  .underline-blue{
    width:50%;
    border-bottom: solid #0065FC 3px;
  }

  .underline-grey{
    width: 50%;
    border-bottom: solid grey 3px;
  }

  .blue-line, .grey-line{
    display: inline-block;
    height: 3px;
    width: 50%;
  }
  .line{
    display: flex;
    flex-direction: row;
  }
  .blue-line{
    background-color: #0065FC;
  }

  .grey-line{
    background-color: #F2F2F2;
  }
  .recherche-filtres{
    padding: 0 20px 0 20px;
  }
  #rechercher{
    display: none;
  }

  form p{
    width: 100%;
  }

 .fa-magnifying-glass{
  display: inline-block;
  font-weight: bold;
  background: #0065FC;
  border: 1px solid #0065FC;
  border-radius: 0px 15px 15px 0px;
  color: white;
  width: 5%;
 }

 .Filtres{
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
 }

 .Filtres p{
  margin: 0;
 }
 
 .filtres-phone{
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
 }

 .filtres-phone button span{
  font-size: 10px;
 }

 input{
  width:65%;
 }

 .Filtres .bordure{
  padding-left: 5px;
  width: 45%;
 }

.hebergement-card{
  order: 2;
  width: 90%;
  background-color: #FFFFFF;
 }

.hebergement-card .card, .populaire-card .card, .images-activites .card{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
 }

.afficher-plus{
  display: none;
}

.populaire-card{
  order: 1;
  width: 100%;
}

.populaire-card img{
  height: 100%;
}

.activites{
  padding: 0 20px 0 20px;
}

#titre-activites{
width: 140px;
font-size: 27px;
}

.images-activites{
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 25px;
}

.images-activites .card img{
  height: 134px;
  min-height: unset;
}

.images-activites a{
  width: 100%;
  height: 190px;
}

.images-activites .card{
  padding: 0;
}

.images-activites .card h5{
  font-size: 120%;
}

footer{
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
}
}